# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
public/

# Log files
*.log

node_modules/
build/

**/node_modules/*
**/.firebase
**/.firebaserc
**/.runtimeconfig.json
*/npm-debug.log
lerna-debug.log
*~
service-account-credentials.json
**/package-lock.json
# keep the root package-lock so that tools are consistent
!/package-lock.json
**/ui-debug.log
**/database-debug.log
**/firebase-debug.log
**/pubsub-debug.log
**/tsconfig-compile.json